<header class="row">
  <div class="col-lg-6 d-flex justify-content-start">
      <img class="logo" src="../../../assets/images/saketa-logo.svg" alt="logo">
      <div class="head-txt ms-4 mt-3 pt-3">
          <h2>Employee Directory</h2>
          <span>The ultimate People Directory Experiance</span>
      </div>
  </div>
  <div class="col-lg-6 d-flex justify-content-end mt-5">
      <h2 class="profile-name mt-3 pe-3">Weclome,<span>Andrew Philip</span></h2>
      <img class="profile mt-1" src="../../../assets/images/profile.png" alt="user">
  </div>
  <hr>
</header>
