.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}
.row>:not(.submit-button){
  padding:0 !important;
}
.modal-header{
  background-color: #00B1FC;
}

.photo-label
{
    left: 3%;
    bottom: 14%;
}
.profile-img>img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-img
{
    height: 100px;
    width: 100px;
    background-color: rgb(47, 108, 152);
}

.file-input
{
    opacity: 0;
    bottom:10%;
    left:10%;
}
