
      .add-employee{
        background-color: rgba(0,176,253,255);
        border: none;
      }
      
      .filter-options{
        border: 1px solid rgba(1,1,1,0.3);
        text-transform: capitalize;
        color:rgba(1,1,1,0.6);
      }
      
      .fa-1x {
        font-size: 1.5rem;
      }
      .navbar-toggler.toggler-example {
        cursor: pointer;
      }
      .dark-blue-text {
        color: #080808;
      }
      .foot{
        width: 100%;
        background-color: #b5b4b4;
        height:45%;
     
      }
      .f-btn{
        border: none;
        background-color: transparent;
      }
      