<div class="d-flex justify-content-between">
  <app-sidebar class="position-relative"></app-sidebar>
  <input
    type="text"
    class="search-input mt-5 ms-5 my-auto"
    placeholder="Search Employee"
    [(ngModel)]="searchInput"
    (input)="search()"
  />
  <div class="">
    <button (click)="showfilter()" class="f-btn mx-auto mt-4 pt-3">
      <span class="dark-blue-text"><i class="display-4 bi bi-filter"></i></span>
    </button>
  </div>
</div>


  <div *ngIf="showFilter" class="ms-5 ps-4">
    <p class="filter-para my-auto me-2">Filter by</p>
    <select id="filter" class="filter-options" [(ngModel)]="searchFilterInput">
      <option value="preferredName" class="text-capitalize">
        preferred name
      </option>
      <option value="firstName" class="text-capitalize">first name</option>
      <option value="lastName" class="text-capitalize">last name</option>
      <option value="email" class="text-capitalize">email</option>
      <option value="jobTitle" class="text-capitalize">job title</option>
      <option value="office" class="text-capitalize">office</option>
      <option value="department" class="text-capitalize">department</option>
      <option value="phoneNumber" class="text-capitalize">phone number</option>
      <option value="skypeId" class="text-capitalize">skype id</option>
    </select>
  </div>

  <hr />
  <div class="mt-2 overflow-auto">
    <button
      class="add-employee float-end text-capitalize text-decoration-none text-white fw-bold"
      (click)="openVerticallyCentered(addEmployee)"
    >
      add employee
    </button>
  </div>

  <app-mobilemain></app-mobilemain>
  <div class="foot d-flex position-sticky py-auto justify-content-center">
    <a><i class="display-4 text-primary bi bi-house-fill"></i></a>
    <a><i class="mx-5 display-4 bi bi-person-fill"></i></a>
    <a><i class="display-4 bi bi-people-fill"></i></a>
  </div>

  <ng-template #addEmployee let-modal>
    <app-popup></app-popup>
  </ng-template>

