<div class="row">
  <app-sidebar class="col-2 position-relative"></app-sidebar>
  <input
    type="text"
    class="col-6 search-input mt-5 mx-3 my-auto"
    placeholder="Search Employee"
    [(ngModel)]="searchInput"
    (input)="search()"
  />
  <div class="col-2">
    <button
      class="mx-auto mt-4 pt-2 navbar-toggler toggler-example"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent1"
      aria-controls="navbarSupportedContent1"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="dark-blue-text"><i class="display-4 bi bi-filter"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
      <div class="navbar-nav ">
        <p class="nav-item filter-para my-auto me-2">Filter by</p>
        <select
          id="filter"
          class="nav-item filter-options"
          [(ngModel)]="searchFilterInput"
        >
          <option value="preferredName" class="text-capitalize">
            preferred name
          </option>
          <option value="firstName" class="text-capitalize">first name</option>
          <option value="lastName" class="text-capitalize">last name</option>
          <option value="email" class="text-capitalize">email</option>
          <option value="jobTitle" class="text-capitalize">job title</option>
          <option value="office" class="text-capitalize">office</option>
          <option value="department" class="text-capitalize">department</option>
          <option value="phoneNumber" class="text-capitalize">
            phone number
          </option>
          <option value="skypeId" class="text-capitalize">skype id</option>
        </select>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="mt-2 overflow-auto">
  <button
    class="add-employee float-end text-capitalize text-decoration-none text-white fw-bold"
    (click)="openVerticallyCentered(addEmployee)"
  >
    add employee
  </button>
</div>

<div class="row px-2 overflow-y-auto">
  <app-employees class="col-11 employees row pt-3 px-3"></app-employees>
  <div class="col-1" >
    <div class="alpha-search ps-3">
    <li *ngFor="let i of alphabets" ><a href="#"  (click)="searchByAlphabets(i)">{{ i }}</a><br><li>
</div>
</div>
</div>
<div class="foot d-flex position-sticky py-auto justify-content-center">
<a><i class="display-4 bi bi-house"></i></a>
<a><i class="mx-5 display-4 bi bi-person-fill"></i></a>
<a><i class="display-4 bi bi-people-fill"></i></a>
</div>
<ng-template #addEmployee let-modal>
  <app-popup></app-popup>
</ng-template>
