<section class="container-fluid">
<app-mobileview class="mobile"></app-mobileview>
</section>
<section class="container webview">
  <app-header class="row "></app-header>
  <main class="row">
    <div class="filters webview col-lg-3 mt-4 p-0">
      <app-filters
        *ngFor="let f of filters"
        [filter]="f[1]"
        [title]="f[0]"
      ></app-filters>
    </div>
    <div class="col-lg-9 mt-4 webview">
      <app-search></app-search>
      <app-employees class="employees row pt-3 px-3"></app-employees>
      
    </div>
  </main>
</section>
