.alpha-search li{
    text-transform: uppercase;
    font-size: 80%;
    list-style-type: none;
  }
  .alpha-search{
    right: 0%;
  }
  
.row{
  padding: 0%;
}
  .alpha-search a{
    text-transform: uppercase;
    color: #6e6c6c;
    
    text-decoration: none;
  }
  .alpha-search li a:hover{
    color:rgb(76, 171, 248);
    font-size: 110%;
    font-weight: bold;
  }