<div class="body container">
  <div class="d-flex overflow-auto">
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
    <label for="openSidebarMenu" class="m-4 pt-4 sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>

    <div id="sidebarMenu">
      <div class="main-content-wrapper">
        <div class="bg-light p-5">
          <div class="d-flex mt-5 mb-3 justify-content-start">
            <h2 class="profile-name pe-3">
              Weclome,<br /><span>Andrew Philip</span>
            </h2>
            <img
              class="profile mt-1"
              src="../../../assets/images/profile.png"
              alt="user"
            />
          </div>
          <app-filters
            *ngFor="let f of filters"
            [filter]="f[1]"
            [title]="f[0]"
          ></app-filters>
        </div>
      </div>
      <footer class="footer d-flex flex-column">
        <img src="../../../assets/images/saketa-logo.svg" id="logo" />
        <p class="text-primary">Employee Directory</p>
      </footer>
    </div>
  </div>
</div>
