.employee{
    width:17.5em;
    background-color:rgba(1,1,1,0.1) ;
    height: fit-content;
}


.picture{
    height:80px;
    width:80px;
}
.employee-name{
    font-size:0.8rem;
    font-weight:500;
    word-spacing: 1px;
}
.employee-name-a{
    color:black ;
}
.job-title{
    font-size:0.7rem;
    color: rgba(1,1,1,0.6);
    word-spacing: 1px;
}
.department{
    font-size:0.7rem;
    color: rgba(1,1,1,0.6);
    word-spacing: 1px;
}
.contact-icon{
    color:rgba(1,1,1,0.3);
    font-size: 0.8rem;
}



.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}
.dark-modal .close {
    color: white;
}
.light-blue-backdrop {
    background-color: #5cb3fd;
}

.show-employee-modal-picture{
    height:10rem;
    width:10rem;
    border-radius: 10px;
}
.show-employee-modal-label{
    color:black;
    font-size: small;
}
.row>*{
    padding:0px;
}
.br{
    border-bottom: 1px solid;
}
.btns button{
    border: none;
    background-color: transparent;
    color: #5cb3fd;
}
.btns button:nth-child(2){
    color: #292b2c;
}

.skype{
    width: 26px;
    height: 26px;
    color: #292b2c;
}

@media (max-width: 480px){
    .mob-filt{
        display: none;
    }
    .contact-icon{
        display: none;
    }
    .employee-name {
        padding-left: 10%;
        padding-top: 20%;
        font-size: 110%;
        font-weight: normal;
    }
}